# Скомпилированный Python-код
__pycache__/
*.pyc

# База данных (если ты не хочешь заливать её в репозиторий)
db.sqlite3

# Виртуальное окружение
venv/
env/

# Системные файлы
.DS_Store
Thumbs.db

# Настройки Neovim/IDE
.idea/
.vscode/
