{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODOSITE</title>
    <link href={% static 'todosite/css/style.css' %} rel="stylesheet">
  </head>
  <body>
    <div id='wrapper' class='container'>
      <div id='sidebar' class='sidebar'>
        <div class='content'>
          <h2>Навигация</h2> 
        </div>
        <a href="{{user_create}}">Регистрация |</a>
        <a href="{{user_login}}"> Вход</a>
      </div>

      <div id='main-content' class='main-content'>
        {% block content %}
        {% endblock %}
      </div>

    </div>
  </body>
</html>
