{% extends "todosite/base.html" %}
{% block content  %}
  <div class='content'>
    <h2>Вы уверены?</h2>
  </div>
  <div style="margin: 10px">
    <form method="post">
      {% csrf_token %}
      <label for="submit_button">Вы точно хотите удалить заметку?</label>
      <div style="display: flex; gap: 5px">
        <a href="{% url 'index' %}" class="my_button">
          Нет
        </a>
          <button type="submit" style="background: none; border: none; padding: 0; color: #dc3545; text-decoration: underline; font-size: inherit; cursor: pointer;">
            Удалить
          </button>
      </div>
    </form>
  </div>
{% endblock %}

