{% extends "todosite/base.html" %}
{% block content %}
  <div class='content'>
    <h2>Создание заметки</h2>
    <a href="{% url 'index' %}">Перейти к заметкам</a>
  </div>
  <div style="margin: 1em;">
    <form action="{% url 'create_note' %}" method='post'>
      {% csrf_token %}
      <label for="title">Название заметки</label>
      <input type="text" name="title" value="" required>

      <label for="description">Описание заметки</label>
      <textarea name="description" placeholder="Введите текст заметки..." rows="5" ></textarea> 

      <label for="deadline">Дедлайн</label>
      <input type="datetime-local" name="deadline" value="">

      <button type="submit">Создать</button>
    </form>
  </div>

{% endblock %}
